/* Your Website Styles */
body {
	background-image: url('../img/grunge2.jpg');
	color: #999;
}

/*HEADER*/


a {
	text-decoration: none;
	color: #313A3A;
}

img {
	max-width: 100%;
}

p {
	text-align: right;
	margin: 60px 60px;

}


h1 {
	font-family: 'Playfair Display', sans-serif;
	font-size: 7em;
	font-weight: normal;
	float: left;
}

header{
	
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;

}

h2 {
	font-family: 'Abel', sans-serif;
	font-size: 2em;
	color: #FFFFFF;
	float: left;
}

/*NAVIGATION*/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}





h1 {
	color: #E62E00;
}


body {
	font-family: 'Abel', sans-serif;
}

h3 {
	margin: 0 0 1em 0;
}


footer {
	font-size: .8em;
	text-align: center;
	clear: both;
	padding-top: 50px;
}



.social-icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}


/*Page: About*/

.profile-photo {
	display: block;
	max-width: 400px;
	margin: 0 auto 30px;
	border-radius: 25%;
}

h3 {
	font-weight: 85px;
	color: black;
}


/*Page:Contact*/
.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 25px;
	margin: 0 0 8px;
}



.contact-info li.phone a {
	background-image: url('../img/phone.png');
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
}
.contact-info li.twitter a {
	background-image:url('../img/twitter.png');
}


footer {
	bottom-margin: 80px;
}






/* Show Grid */



