/* Your Website Styles */
body {
	background-image: url('../img/grunge2.jpg');
	color: #999;
}

/*HEADER*/



img {
	max-width: 80%;
    margin: auto 50px;
}


h1 {
	font-family: 'Playfair Display', sans-serif;
	margin-left: 60px;
	font-size: 7em;
	margin-bottom: -5px;
	font-weight: normal;
	text-align: left;
}


h2 {
	font-family: 'Abel', sans-serif;
	margin-top: -5px;
	margin-left: 60px;
	font-size: 2em;
	color: #FFFFFF;
	text-align: left;
}






h1 {
	color: #E62E00;
}


body {
	font-family: 'Abel', sans-serif;
}






/* Show Grid */



