/* Your Website Styles */
body {
	background-image: url('../img/grunge2.jpg');
	color: #999;
}

/*HEADER*/



img {
	max-width: 100%;
}

p {
	text-align: left;
	margin: 60px 60px;

}


h1 {
	font-family: 'Playfair Display', sans-serif;
	font-size: 7em;
	margin-bottom: -5px;
	font-weight: normal;
	text-align: center;
}


h2 {
	font-family: 'Abel', sans-serif;
	margin-top: -5px;
	font-size: 2em;
	color: #FFFFFF;
	text-align: center;
}






h1 {
	color: #E62E00;
}


body {
	font-family: 'Abel', sans-serif;
}






/* Show Grid */



